

{% include 'app_todo/dashboard_sidebar.html' %}

{% load static %}

{% extends 'app_todo/base.html' %}


{% block title %}لیست کارها{% endblock %}

{% block content %}


    <h1 class="mb-4 text-center">لیست کارها</h1>
    <a href="{% url 'task_create' %}" class="btn btn-primary mb-3 mx-auto d-block" style="width:180px;">افزودن کار جدید</a>
    <ul class="list-group w-75 mx-auto text-center">
        {% for task in tasks %}
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <span class="flex-grow-1 text-center">
                    {{ task.title }}
                    {% if task.completed %}
                        <span class="badge bg-success ms-2">انجام شده</span>
                    {% endif %}
                </span>
                {% if not task.completed %}
                    <a href="{% url 'task_complete' task.pk %}" class="btn btn-success btn-sm ms-2">تکمیل</a>
                {% else %}
                    <a href="{% url 'task_uncomplete' task.pk %}" class="btn btn-secondary btn-sm ms-2">غیرفعال کردن</a>
                {% endif %}
                <a href="{% url 'task_update' task.pk %}" class="btn btn-warning btn-sm ms-2">ویرایش</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-danger btn-sm ms-2">حذف</a>
            </li>
        {% empty %}
            <li class="list-group-item text-center">هیچ کاری ثبت نشده است.</li>
        {% endfor %}
    </ul>
{% endblock %}
