{% extends 'app_todo/base.html' %}

{% include 'app_todo/dashboard_sidebar.html' %}

{% load static %}
{% block title %}افزودن/ویرایش کار{% endblock %}
{% block content %}
    <div class="card p-4 shadow" style="min-width:340px;max-width:420px;margin:auto;">
        <h2 class="mb-4 text-center">افزودن / ویرایش کار</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-success px-4">ثبت</button>
                <a href="{% url 'task_list' %}" class="btn btn-secondary">بازگشت</a>
            </div>
        </form>
    </div>
{% endblock %}
